html {
  font-family: Verdana;
}

h1 {
  font-size: 74px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

div {
  height: 200px;
  background-color: coral;
  color: white;
  text-align: center;
  line-height: 200px;
  text-transform: uppercase;
}
