/* Базовые стили для прохождения визуального теста */
.parent {
  width: 300px;
  height: 150px;
  background-color: #a2d248;
  border: 1px solid black;
  margin-bottom: 40px;
  padding: 10px;
  box-sizing: border-box; /* Чтобы padding не раздувал блоки */
}

.child {
  width: 150px;
  height: 40px;
  background-color: #ffff00;
  border: 1px solid black;
  position: absolute; /* Обязательно для c1, c2, c3, c4 */
  top: 10px;
  left: 10px;
}

/* Стили из условий задачи */
.static-parent {
  position: static;
}

.relative-parent {
  position: relative;
  top: 20px;
  left: 50px;
}

.absolute-parent {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.fixed-parent {
  position: fixed;
  bottom: 20px;
  left: 30px;
}
