* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, sans-serif;
  color: #555;
  font-size: 16px;
}

.header {
  color: white;
  background-image: linear-gradient(60deg, red, orange);
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 2em;
}

.main {
  flex: 1 0 auto;
  display: flex;
}

.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  flex: 0 0 auto;
}

.navigation,
.section,
.news {
  padding: 0.5em;
}

.navigation {
  width: 20%;
}

.section {
  width: 60%;
  font-size: 1.25em;
  line-height: 1.75em;
}

.news {
  width: 20%;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list-item {
  background-color: #808080;
  margin-bottom: 0.5em;
}

.nav-list-link {
  display: block;
  width: 100%;
  padding: 0 0.5em;
  text-decoration: none;
  color: white;
  line-height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
