* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  background-image: linear-gradient(60deg, red, orange);
  text-align: center;
}

h1 {
  color: white;
}

/* MAIN LAYOUT */

.main {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap; /* важно для адаптива */
}

/* FOOTER */

.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
  flex: 0 0 auto;
}

/* COLUMNS */

.navigation,
.section,
.news {
  padding: 0.5em;
}

.navigation {
  flex: 0 0 20%;
}

.section {
  flex: 0 0 60%;
  font-size: 1.25em;
}

.news {
  flex: 0 0 20%;
}

/* CONTENT */

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

/* NAVIGATION */

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  margin-bottom: 0.5em;
}

.nav-list-link {
  display: block;
  width: 100%;
  padding: 0 0.5em;
  color: white;
  text-decoration: none;

  /* для троеточия */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
