.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-1 {
  font-size: 16px;
}

.icon-2 {
  font-size: 32px;
}

.icon-3 {
  font-size: 64px;
}

.icon-4 {
  font-size: 128px;
}

.icon-5 {
  font-size: 256px;
}
