.custom-button1 {
  font-size: 16px;
}

.custom-button2 {
  font-size: 32px;
}

.custom-button3 {
  font-size: 64px;
}

.custom-button4 {
  font-size: 128px;
}

.custom-button5 {
  font-size: 256px;
}
