* {
  box-sizing: border-box;
}

.big-form {
  margin: 32px;
}

/* 1. Задаем отступ только для строк (div) */
.big-form div {
  margin: 8px;
}

/* 2. У инпутов и кнопок убираем margin, чтобы они не добавляли лишнего */
input,
textarea,
button,
select {
  margin: 0;
  
}

