* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.spinner {
  text-align: center;
}

.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s linear infinite;
}

.rect {
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto;
  position: relative;

  animation:
    moving 2s linear infinite alternate,
    blinking 2s linear infinite;
}
