li {
  padding-bottom: 16px;
}

a[target="_blank"] {
  border: 2px solid black;
}

a[href^="broken"] {
  border: 2px solid red;
}

a[href$=".com"] {
  margin-left: 50px;
}

/* Задание 5: Убрали 'a', чтобы селектор был универсальным */
[lang*="en"] {
  font-size: 10px;
}

a[href*="www"] {
  color: green;
}

/* Задание 7: Если *= не проходит, попробуйте ~= (слово целиком) */
/* Если в HTML есть только слова через пробел, это сработает */
[title~="popular"] {
  font-size: 24px;
}
