li {
  padding-bottom: 16px;
}

/* Пункт 2: Добавил тот самый пробел перед точкой с запятой */
a[target="_blank"] {
  border: 2px solid black ;
}

a[href^="broken"] {
  border: 2px solid red;
}

a[href$=".com"] {
  margin-left: 50px;
}

[lang*="en"] {
  font-size: 10px;
}

a[href*="www"] {
  color: green;
}

/* Пункт 7: Убираем 'a' и используем *= */
[title*="popular"] {
  font-size: 24px;
}
