* {
  box-sizing: border-box;
}

.image-container {
  position: relative;
}
.image-button {
  text-align: center;
  width: 200px;
  line-height: 50px;
  background-color: bisque;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  filter: opacity(0.5);
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
}

.image-button:hover {
  filter: opacity(1);
  cursor: pointer;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
