.anchor:link {
  color: white;
  background-color: black;
}

.anchor:visited {
  color: green;
  background-color: orange;
}

.anchor:active,
.some-button:active {
  border: 3px solid red;
}

.anchor:hover {
  font-size: 24px;
}

.some-button:disabled {
  border: 2px dashed grey;
}

.some-button:not(:disabled):hover {
  color: white;
  background-color: grey;
}

input:focus {
  background-color: orange;
}

input:checked {
  margin-left: 20px;
}
